{% extends 'base.html' %}
{% load static %}
{% block title %}
Filter
{% endblock %}
{% block content %}
    <div class="container">
{% if not results %}
<h6 class="text-center mt-5">Nothing Found for your filter data</h6>
    {% else %}


<h6 class="text-center mt-5">All tutor for your filter result below</h6>


      <div class="row infinite-container">
   {% for profile in results %}
          {% if profile.is_premium %}
       <div class="col-md-3">

 <div class="card mx-auto my-3 shadow" style="width: 16rem; height: 24rem;">
  <img src="{{profile.user.userprofile.image.url}}" class="card-img-top mx-auto rounded-circle img-thumbnail" style="height:8rem;
 width:8rem;" alt="user profile picture">
  <div class="card-body" style="height:14rem;">
    <p class="card-title text-center"><a href="{% url 'ownerprofile' %}"><small class="text-muted">{{ profile.user.first_name }} {{ profile.user.last_name }}</small></a></p>
    <p class="text-center"><small class="text-muted"><i class="fas fa-money-bill-wave"></i>  {{ profile.expected_salary }} tk</small></p>
      {% if not profile.district_area %}

          {% else %}
         <p class="text-center"> <small class="text-muted"><i class="fas fa-map-marker-alt"></i>  {{ profile.district_area }}</small></p>
      {% endif %}

      <p class="card-title text-center"><small class="text-muted">Contacts</small></p>
  {% if profile.your_phone_no %}
  <p class="text-center"><small class="text-muted"><i class="fas fa-mobile-alt"></i> {{ profile.your_phone_no }}</small></p>
  {% endif %}
    <p class="text-center"><small class="text-muted">{{ profile.user.email }}</small></p>
  <p class="text-center">
  {% if profile.fb_id %}
  <a href="{{ profile.fb_id }}" id="fb" class="m-2"><i class="fab fa-facebook-f" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"></i></a>
      {% else %}
      <i class="fab fa-facebook-f m-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"></i>
  {% endif %}
    {% if profile.linkedin %}
<a href="{{ profile.linkedin }}" target="_blank" class="m-2 " ><i class="fab fa-linkedin-in" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"></i></a>
{% else %}
    <i class="fab fa-linkedin-in m-2" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn"></i>
{% endif %}
  {% if profile.whatsapp %}
<a href="{{ profile.whatsapp }}" target="_blank" class=" m-2 " ><i class="fab fa-whatsapp" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"></i></a>
{% else %}
    <i class="fab fa-whatsapp m-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"></i>
{% endif %}
{% if profile.demo_class %}
<a href="{{ profile.demo_class }}" target="_blank" class=" m- " ><i class="far fa-play-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Watch demo class"></i></a>
    {% else %}
    <i class="far fa-play-circle m-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Watch demo class"></i>
{% endif %}
  </p>
  </div>
</div>
</div>
       {% endif %}
   {% endfor %}
      </div>
     {% if numbers.has_next %}
    <a class="infinite-more-link" style="display:none;visibility:hidden;" href="?page={{ numbers.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none; visibility: hidden;">
    Loading...
  </div>
    {% endif %}
    </div>
 <style>
.card-body{
    margin-top:5px !important;
    line-height:12px !important;
}
</style>
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="{% static 'css/usercard.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static "/js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static '/js/infinite.min.js' %}"></script>
    <script src="{% static 'js/paginator.js' %}"></script>
{% endblock %}