{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
User Profile Create
{% endblock %}
{% block content %}

    <div class="container col-md-6 py-4 ">

<form method="post" enctype="multipart/form-data">
{% csrf_token %}

    <div class="container mt-2">
{{ form.image|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.birth_date|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.bio_data|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.your_phone_no|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.fb_id|as_crispy_field }}
        </div><div class="container mt-3">
{{ form.linkedin|as_crispy_field }}
        </div><div class="container mt-3">
{{ form.whatsapp|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.demo_class|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.district_area|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.highest_degree|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.expected_salary|as_crispy_field }}
        </div>   <div class="container mt-3">
{{ form.negotiable|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.prefer_class|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.prefer_subjects|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.prefer_medium_of_education|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.place_of_learning|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.prefered_tutoring_style|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.tutoring_approach|as_crispy_field }}
        </div> <div class="container mt-3">
{{ form.your_pa|as_crispy_field }}
        </div><div class="container mt-3">
{{ form.your_ca|as_crispy_field }}
        </div>
<div class="text-center container">
    <button type="submit" class="btn btn-primary mt-2 w-100">Update Profile</button>
    </div>
</form>
    </div>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#id_birth_date" ).datepicker();
  } );

  </script>
{#    <link rel="stylesheet" href="{% static 'css/profiledit.css' %}">#}
{% endblock %}
{% block script %}
<link rel="stylesheet" href="{% static 'css/profileedit.css' %}">
{% endblock %}
